@import '~vuetify/src/stylus/main'

.wrap-banner 
	position: relative
	-webkit-align-items: center
	-ms-flex-align: center
	align-items: center
	display: -webkit-flex
	display: flex
	height: 100%
	justify-content: center
	z-index: 999
	padding: 5px
	
.bypass-particle
	position: relative
	z-index: 999
	padding: 5px

.card-margin
	margin: 5px
	
.href
	text-decoration: none
	color: white
	
.card-opacity
	opacity: 0.9